html {
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  align-items: center;
  text-align: center;
  margin: 5em 1.5em 2em;
  min-height: calc(100vh - 7em);
  max-width: 30em;
}

.logo img {
  height: 1em;
}

.text__group {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  row-gap: 1em;
  color: hsl(209, 33%, 12%);
}
.text__group h1 {
  font-size: 1.25rem;
}
.text__group h1 span {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
.text__group p {
  font-weight: 300;
  font-size: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 90%;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
form input {
  padding: 0.75rem 2.5rem;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 2em;
}
form input::-moz-placeholder {
  color: hsl(223, 100%, 88%);
  font-size: 0.75rem;
}
form input::placeholder {
  color: hsl(223, 100%, 88%);
  font-size: 0.75rem;
}
form input:focus-visible {
  outline: none;
}
form #error {
  color: hsl(354, 100%, 66%);
  font-style: italic;
  font-weight: 600;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  display: none;
}
form.invalid input {
  border-color: hsl(354, 100%, 66%);
}
form.invalid #error {
  display: block;
}
form .btn {
  color: white;
  background-color: hsl(223, 87%, 63%);
  padding: 0.75rem 2.5rem;
  border-radius: 2em;
  letter-spacing: 1px;
  box-shadow: 0px 5px 5px rgba(79, 125, 243, 0.3);
}
form .btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

.illus {
  -webkit-margin-before: 2.5em;
          margin-block-start: 2.5em;
}

.social {
  -webkit-margin-before: auto;
          margin-block-start: auto;
}
.social ul {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
.social ul li a {
  color: hsl(223, 87%, 63%);
  padding: 0.35em;
  border: 1px solid hsl(223, 87%, 63%);
  border-radius: 50%;
  font-size: 0.9rem;
}
.social ul li a:hover {
  background-color: hsl(223, 87%, 63%);
  color: white;
}
.social .copyright {
  -webkit-margin-before: 3em;
          margin-block-start: 3em;
  font-size: 0.75rem;
  color: hsl(0, 0%, 59%);
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  main {
    margin: 3em auto 0;
  }
  .text__group {
    row-gap: 0.5rem;
  }
  .text__group h1 {
    font-size: 1.75rem;
  }
  form {
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 100%;
  }
  form input {
    padding-inline: 1rem;
    width: 21rem;
  }
  form #error {
    position: absolute;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    bottom: -1rem;
    left: 1rem;
    font-size: 0.6rem;
  }
}