$gray: hsl(0, 0%, 59%)
$red: hsl(354, 100%, 66%)
$blue-100: hsl(223, 100%, 88%)
$blue-200: hsl(223, 87%, 63%)
$blue-300: hsl(209, 33%, 12%)

html
    font-family: 'Libre Franklin', sans-serif
    font-size: 16px
    -moz-osx-font-smoothing: grayscale

*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
    list-style: none

strong
    font-weight: bold

img
    max-width: 100%
    display: block

main 
    display: flex
    flex-direction: column
    row-gap: 2em
    align-items: center
    text-align: center
    margin: 5em 1.5em 2em
    min-height: calc( 100vh - 7em )
    max-width: 30em

.logo 
    img
        height: 1em

.text__group 
    display: flex
    flex-direction: column
    align-self: stretch
    align-items: center
    row-gap: 1em
    color: $blue-300
    h1
        font-size: 1.25rem
        span
            font-weight: 300
            color: $gray
    p
        font-weight: 300
        font-size: 0.7rem
form
    display: flex
    flex-direction: column
    row-gap: 0.5em
    width: 90%
    margin-block-start: 1em
    input
        padding: 0.75rem 2.5rem
        border: 1px solid  $blue-100
        border-radius: 2em
        &::placeholder
            color: $blue-100
            font-size: 0.75rem
        &:focus-visible
            outline: none
    #error
        color: $red
        font-style: italic
        font-weight: 600
        margin-block-end: 1rem
        display: none
    &.invalid
        input
            border-color: $red
        #error
            display: block        
    .btn
        color: white
        background-color: $blue-200
        padding: 0.75rem 2.5rem
        border-radius: 2em
        letter-spacing: 1px
        box-shadow: 0px 5px 5px rgba($blue-200 , .3)
        &:hover
            cursor: pointer
            opacity: .75
.illus
    margin-block-start: 2.5em
.social
    margin-block-start: auto
    ul
        display: flex
        justify-content: center
        column-gap: 1em
        li a
            color: $blue-200
            padding: .35em
            border: 1px solid $blue-200
            border-radius: 50%
            font-size: 0.9rem
            &:hover
                background-color: $blue-200
                color: white
    .copyright
        margin-block-start: 3em
        font-size: .75rem
        color: $gray

@media only screen and (min-width: 768px)
    html
        font-size: 20px
    main
        margin: 3em auto 0
    .text__group
        row-gap: .5rem
        h1
            font-size: 1.75rem
    form
        flex-direction: row
        position: relative
        justify-content: space-between
        width: 100%
        input
            padding-inline: 1rem
            width: 21rem
        #error
            position: absolute
            margin-block-end: 0
            bottom: -1rem
            left: 1rem
            font-size: .6rem